PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=AI
JWT_SECRET=your_jwt_secret_key_change_in_production
CLIENT_URL=http://localhost:5173

# AI Text Generation
ANTHROPIC_API_KEY=

# AI Image Generation (Swappable: openai | stability | replicate)
IMAGE_PROVIDER=openai
IMAGE_PROVIDER_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
